#blok1 
{
   height: 250px;
   width:500px; 
   background-color: yellow;
   margin: auto;
   margin-top: 237px;
}

#menu
{
    height: 725px;
    width: 150px;
    background-color: transparant;
	float: left;
}

#blok2
{
height: 725px;
width: 1503px;
background-color: blue;

}


body
{
    font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	display: flex;
	height: 100;
	width: 100;
}

p
{
   color: black;
   font-size: 75%;
   margin: auto;
}

ul {
    list-style-type: none;
}

h1
{
  color: black;
  font-size: 100%;
  
}

h2
{
  color: black;
  font-size: 75%;
}

h3
{
color: transparent;
}


